header {
    width: 100%;
    min-height: 10%;
    background-color: whitesmoke;
    box-shadow: 2px 3px 5px rgb(192, 192, 192);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;  
}

header>form {
    width: 20rem;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

button.primary {
    margin: auto 10px auto 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: #8DC642;
    padding: 0.15rem;
    width: 6rem;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px rgb(192, 192, 192);
    border: 2px solid #8DC642;
}

button.primary:hover {
    transition: 0.25s;
    background-color: whitesmoke;
    color: #8DC642;
}

header>form>input {
    padding: 0.25rem;
    width: 17rem;
    height: 1.35rem;
    margin: auto 10px auto 10px;
    border: 2px solid whitesmoke;
    border-radius: 0.25rem;
}

header>form>input:focus {
    border: 2px solid #8DC642;
    outline: none;

}

header>a>img {
    width: 150px;
}

main>h1 {
    margin: 2rem 1rem 2rem 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: #8DC642;
}